@media screen and (max-width:600px){
    #downArrow span{position: absolute; top: 200px; left: 44%; width: 30px; height: 4px; background-color: #ccc; border-radius: 30px;}
    #downArrow span:first-child{transform: translateX(-10px) rotate(45deg);}
    #downArrow span:last-child{transform:translateX(10px) rotate(-45deg);}
    #logo{width: 35%;}
    footer{width: 320px; bottom: 10px;}
    #main{padding-bottom: 30px;}
}

@media screen and (min-width: 640px) {
    #main {padding: 1em; padding-top: 250px;}
    .gallery li {float: left; width: 33.33%;}
}

@media (min-width: 768px) {
    #aside .wrapper{column-count: 2;font-size: 1em;}
}


@media screen and (max-width:400px){
    .nav-item, .menu-open-button {width: 40px; height: 40px; top: 10px; right: 20px;}
    .menu-open:checked ~ .nav-item:nth-child(3) {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(4) {
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(5) {
    -webkit-transform: translate3d(0, 140px, 0);
    transform: translate3d(0, 140px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(6) {
    -webkit-transform: translate3d(0, 190px, 0);
    transform: translate3d(0, 190px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(7) {
    -webkit-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0);
}
    .burger{width: 60px;}
    .nav-item{line-height: 17px;font-size: 7px;}
    .search{width: 20px; height: 20px;}
    .search:after{top: 14px; right: -3px;}
    #typing{font-size: 0.9em;}
}
