@font-face {
    font-family:'RobotoMono';
    font-weight: 700;
    src: local ('../font/RobotoMono-Bold.ttf');
    src: local ('../font/RobotoMono-Bold.woff');
}
@font-face {
    font-family:'RobotoMono';
    font-weight: 500;
    src: local ('../font/RobotoMono-Medium.ttf');
    src: local ('../font/RobotoMono-Medium.woff');
}
@font-face {
    font-family:'RobotoMono';
    font-weight: 400;
    src: local ('../font/RobotoMono-Regular.ttf');
    src: local ('../font/RobotoMono-Regular.woff');
}
@font-face {
    font-family:'RobotoMono';
    font-weight: 300;
    src: local ('../font/RobotoMono-light.ttf');
    src: local ('../font/RobotoMono-ligth.woff');
}
html, body{height: 100%;}
body{font-family: 'Roboto Mono', 'RobotoMono'; overflow: hidden;}
#wrapper{
    position: relative;
    box-shadow: 2px 2px 4px #999;
    z-index: 20;
    transition: transform .6s ease;
    width: 100%;
    height: 100%;
    background: #11e8bb;
    background: -moz-linear-gradient(top, #11e8bb, #8200c9);
    background: -ms-linear-gradient(top, #11e8bb, #8200c9);
    background: -o-linear-gradient(top, #11e8bb, #8200c9);
    background: -webkit-linear-gradient(top, #11e8bb,#8200c9);
    background: linear-gradient(to bottom, #11e8bb,#8200c9);  
}
#logo{
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);  
}

#logo a img{
    width: 80px;
    transition: transform ease-out 0.2s;
}

h1{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 3px;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}
b{font-weight: 700;}
/********************************
Navigation
********************************/

.cntr {
    display: table;
    width: 100%;
    height: 100%;
}
.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.search {
    display: inline-block;
    position: relative;
    top: -3px;
    right: -6px;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 25px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: text;
}
.search:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    right: -5px;
    top: 18px;
    background: #000;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.search.active, .search:hover {
    width: 200px;
    right: 165px;
    border: 2px solid #ff00f0;
}
.search.active:after, .search:hover:after {
    height: 0px;
}
.search input {
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 13px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    outline-width: 0px;
    margin-left: 3px;
}
* {
  box-sizing: border-box;
}

.nav-item, .menu-open-button {
    background: #fff;
    border-radius: 100%;
    color: #000;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 50;
    text-align: center;
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;  
}

.menu-open {
    display: none;
}

.nav-item {
    font-size: 8px;
    line-height: 23px;
    padding-top: 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.nav-item:hover {
    background: #ccc;
}
.nav-item img{
    margin: -6px 5px;
}

.burger {
    background: #00ffe4;
    display: block;
    height: 5px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.burger:after, .burger:before {
    background: #00ffe4;
    content: "";
    height: 5px;
    width: 30px;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}
.burger:before {
    top: -9px;
}
.burger:after {
    top: 9px;
}

.menu-open-button {
    z-index: 60;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    cursor: pointer;
}
.menu-open-button:hover {
    background: #ccc;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.menu-open:checked ~ .nav-item {
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .nav-item:nth-child(3) {
    -webkit-transition-duration: 190ms;
    transition-duration: 190ms;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(4) {
    -webkit-transition-duration: 290ms;
    transition-duration: 290ms;
    -webkit-transform: translate3d(0, 110px, 0);
    transform: translate3d(0, 110px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(5) {
    -webkit-transition-duration: 390ms;
    transition-duration: 390ms;
    -webkit-transform: translate3d(0, 170px, 0);
    transform: translate3d(0, 170px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(6) {
    -webkit-transition-duration: 490ms;
    transition-duration: 490ms;
    -webkit-transform: translate3d(0, 230px, 0);
    transform: translate3d(0, 230px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(7) {
    -webkit-transition-duration: 590ms;
    transition-duration: 590ms;
    -webkit-transform: translate3d(0, 290px, 0);
    transform: translate3d(0, 290px, 0);
}

.menu-open:checked + .menu-open-button .burger {
    background-color: transparent;
}
.menu-open:checked + .menu-open-button .burger:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-open:checked + .menu-open-button .burger:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/********************************
Typed
********************************/

.typed-cursor{
    color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#typing{
    position: absolute;
    top: 16%;
    left: 10%;
    max-width: 65%;
}
.element{
    color: #fff;
    font-size: 0.9em;
    font-weight: 300;
}

/*********
MAP POINTER
*********/
.mapPointer{
    width: 30px;
}
.pointer{
    -webkit-animation: jump 2s ease-in-out infinite;
    -moz-animation: jump 2s ease-in-out infinite;
    -ms-animation: jump 2s ease-in-out infinite;
    -o-animation: jump 2s ease-in-out infinite;
    animation: jump 2s ease-in-out infinite; 
    cursor: pointer;
}
@-webkit-keyframes jump{
    from{-webkit-transform:translate(0,0); opacity:1}
    50%{-webkit-transform:translate(0,-5px); opacity:1}
    to{-webkit-transform:translate(0,0); opacity:1;}
}
.shadow{
    border: 1px solid #000;
    opacity: 0.5;
    width: 15px;
    height: 2px;
    border-radius: 50%;
    position: relative;
    left: 8px;
    background-color:#000;
    padding: 2px;
    -webkit-animation: pulse 2s ease-in-out infinite;
    -moz-animation: pulse 2s ease-in-out infinite;
    -ms-animation: pulse 2s ease-in-out infinite;
    -o-animation: pulse 2s ease-in-out infinite;
    animation: pulse 2s ease-in-out infinite;
  }
@-webkit-keyframes pulse {
    from{-webkit-transform :scale(1,1);}
    50%{-webkit-transform :scale(0.5,0.5);}
    to{-webkit-transform :scale(1,1);}
}
.infosPlanet{
    background-color: rgba(255,255,255,0.7);
    font-size: 0.8em;
    padding: 9px;
    border-radius: 5px;
    display: none;
    opacity: 0;
}
.line{
    position: absolute;
    width: 300px;
    height: 1px;
    background: #fff;
}
/***** MASSE ****/
#massePointer{
    position: relative;
    top: -70px;
    right: 25px;
    width: 30px;
    height: 56px;
}
#masse{
    position: absolute;
    top: 40%;
    right: 50%;
    width: 300px;
    height: 2px;
}
.masseLine{
    transform: rotate(20deg);
}
#closeMasse{
    position: relative;
    top: -100px;
    left: 115px;
    display: none;
}
#masseInfos{
    width: 210px;
    margin: 10px -80px;
}

/***** TEMPERATURE ****/
#tempPointer{
    position: relative;
    top: 30px;
    right: 28px;
    width: 30px;
    height: 56px;
}
#temperature{
    position: absolute;
    top: 60%;
    right: 50%;
    width: 300px;
    height: 2px;
}
.tempLine{
    transform: rotate(-20deg);
}
#tempInfos{
    width: 250px;
    margin: 10px -100px;
}
#closeTemp{
    position: absolute;
    top: 50px;
    left: 135px;
    display: none;
}

/***** GRAVITE ****/
#gravitePointer{
    position: relative;
    top: -70px;
    left: 300px;
    width: 30px;
    height: 56px;
}
#gravite{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 2px;
}
.graviteLine{
    transform: rotate(-20deg);
}
#graviteInfos{
    margin: 10px -70px;
    width: 180px;
}
#closeGravite{
    position: absolute;
    top: 50px;
    left: 98px;
    display: none;
}

/***** ID ****/
#idPointer{
    position: relative;
    top: 30px;
    left: 300px;
    width: 30px;
    height: 56px;
}
#idCarte{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 300px;
    height: 2px;
}
.idLine{
    transform: rotate(20deg);
}
#idInfos{
    position: absolute;
    width: 350px;
    top: -283px;
    left: -475px;
}
#closeId{
    position: absolute;
    top: -10px;
    left: 340px;
    display: none;
}
#button{
    position: relative;
    border: 2px solid #ff00f0;
    padding: 0 5px 2px 5px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: #000;
    transition: all 0.3s ease;
}
#button:hover{
    background-color: #ff00f0;
    color: #000;
    
}

/*********
ARROW
*********/

#rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    right: 80px;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .4s;
}
#rightArrow>span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 12px;
    background-color: #fff;
    border-radius: 30px;    
}
#rightArrow span:first-child{
    transform: translateY(-24px) rotate(45deg);
}
#rightArrow span:last-child{
    transform:translateY(24px) rotate(-45deg);
}
#rightArrow:hover{
    transform: scale(1.15);
}
#leftArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    left: 80px;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .4s;
}
#leftArrow span{
    position: absolute;
    top: 50%;
    transform: translatY(-50%);
    width: 80px;
    height: 12px;
    background-color: #fff;
    border-radius: 30px;
}
#leftArrow span:first-child{
    transform: translateY(-24px) rotate(135deg);
}
#leftArrow span:last-child{
    transform: translateY(24px) rotate(-135deg);
}
#leftArrow:hover{
    transform: scale(1.15);
}
/********************************
Footer
********************************/

footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 0.6em;
    font-weight: 300;
}

footer a{
    text-decoration: none;
    color: #fff;
}
/********************
ASIDE
*********************/
#aside{
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: #eee;
    overflow: scroll;
}
#aside img{
    width: 100%;
    vertical-align: top;
}
#aside .wrapper {
    padding: 1em;
    font-weight: 300;
}
h2{
    font-size: 1.1em;
    font-weight: 500;
}
#aside .close {
    width: 25px;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-decoration: none;
}

.show-detail {
    overflow: hidden;
}
.show-detail #wrapper {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.mainText{
    column-count: 2; 
}
