@media screen and (min-width:801px){ 

}

@media screen and (max-width:1280px){
}

@media screen and (max-width:1080px){
}

@media screen and (max-width:960px){}
@media screen and (max-width:800px){    
}
@media screen and (max-width:768px){
    #rightArrow{top: 85%;}
    #leftArrow{top: 85%;}
}

@media screen and (max-width:600px){
}

@media screen and (max-width:480px){
    #button{left: 145px;}
    #closeId{top: -95%;left: 77%;}
    #idInfos{width: 250px;left: -84%;top: -90%;z-index: 99;}
    #closeGravite{top: 43%;left: 97%;}
    #graviteInfos{margin-left: 4%;width: 137px;}
    #tempInfos{width: 190px;margin-left: -75px;}
    #closeTemp{top: 53%;left: -1%}
    #masseInfos{width: 180px;}
    #closeMasse{top: -35%;}
    .infosPlanet{font-size: 0.6em;}
    .element{font-size:0.7em;}
    footer{bottom: -98%; width: 300px;}
    #rightArrow{right: 55px;}
    #rightArrow span{width: 50px; height: 9px;}
    #leftArrow span{width: 50px; height: 9px;}
    #rightArrow span:first-child{
    transform: translateY(-15px) rotate(45deg);
}
#rightArrow span:last-child{
    transform:translateY(15px) rotate(-45deg);
}
    #leftArrow span:first-child{
    transform: translateY(-15px) rotate(135deg);
}
#leftArrow span:last-child{
    transform:translateY(15px) rotate(-135deg);
}
    #pointer{width: 150px; height: 150px;}
}
@media screen and (max-width:400px){
    .nav-item, .menu-open-button {width: 40px; height: 40px; top: 10px; right: 20px;}
    .menu-open:checked ~ .nav-item:nth-child(3) {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(4) {
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(5) {
    -webkit-transform: translate3d(0, 140px, 0);
    transform: translate3d(0, 140px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(6) {
    -webkit-transform: translate3d(0, 190px, 0);
    transform: translate3d(0, 190px, 0);
}
.menu-open:checked ~ .nav-item:nth-child(7) {
    -webkit-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0);
}
    .burger{
        width: 60px;
    }
    .search{width: 20px; height: 20px;}
    .search:after{top: 14px; right: -3px;}
}
@media screen and (max-width:320px){
    footer{bottom: -135%;}
    .element{font-size: 0.5em;}

}